[Desktop Entry]
Name=Aseprite
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/org
Exec=sh -c "\$HOME/git/aseprite/build/bin/aseprite"
Icon=/home/accacio/Dropbox/Portables/Aseprite/linux/data/icons/ase256.png
Type=Application
Terminal=false
Categories=Development;TextEditor;

