[Desktop Entry]
Name=browser
GenericName=Web Browser
Comment=Web Browser
Type=Application
Exec=vivaldi-stable %u
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
