[Desktop Entry]
Name=browser
GenericName=Web Browser
Comment=Web Browser
Type=Application
Exec=bash -c "$HOME/git/qutebrowser/.venv/bin/python3 -m qutebrowser %u"
Icon=/usr/share/icons/qutebrowser-128x128.png
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
