[Desktop Entry]
Name=Org-Protocol
Exec=emacsclient -s $HOME/.emacs.d/server/server %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol
