[Desktop Entry]
Name=qutebrowser
Exec=/bin/bash -c "$HOME/git/qutebrowser/.venv/bin/python3 -m qutebrowser %F"
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/org
Icon=/usr/share/icons/qutebrowser-128x128.png
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;WebBrowser;
