[submodule "emacs"]
	path = emacs/.emacs.d
	url = https://github.com/Accacio/.emacs.d

[submodule "source code pro"]
	path = configs/fonts/.fonts/adobe-fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
[submodule "configs/bash/.customz/plugins/zsh-syntax-highlighting"]
	path = configs/bash/.customz/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "configs/bash/.customz/zsh-autosuggestions"]
	path = configs/bash/.customz/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
