
# ┌─────────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌─────────── day of month (1 - 31)
# │ │ │ ┌───────── month (1 - 12)
# │ │ │ │ ┌─────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                             7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
*/5 * * * * $HOME/bin/changeWallpaper >/dev/null 2>&1
0 */4 */4 * * rm -rd $HOME/Downloads/lixo/* >/dev/null 2>&1
*/15 8-18 * * * $HOME/bin/setColorTemperature -d >/dev/null 2>&1
0 19-23 * * * $HOME/bin/setColorTemperature >/dev/null 2>&1
*/5 * * * * $HOME/bin/mailsync >/dev/null 2>&1
*/5 * * * * vdirsyncer sync >/dev/null 2>&1
*/5 * * * * $HOME/bin/exportAgenda
*/5 * * * * rclone --exclude .git/ --exclude '*.html' --exclude .orgids --exclude org-roam.db -l -u copy dbox:org ~/org >/dev/null 2>&1
*/5 * * * * rclone --exclude .git/ --exclude '*.html' --exclude .orgids --exclude org-roam.db -l -u copy ~/org dbox:org >/dev/null 2>&1
* * * * * $HOME/bin/batteryNotify >/dev/null 2>&1
