
# ┌─────────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌─────────── day of month (1 - 31)
# │ │ │ ┌───────── month (1 - 12)
# │ │ │ │ ┌─────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                             7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
*/5 * * * * $HOME/bin/changeWallpaper >/dev/null 2>&1
0 0 */4 * * rm -rd /home/accacio/Downloads/lixo/* >/dev/null 2>&1
*/15 8-18 * * * /home/accacio/bin/setColorTemperature -d >/dev/null 2>&1
0 19-23 * * * /home/accacio/bin/setColorTemperature >/dev/null 2>&1
*/5 * * * * mbsync -a >/dev/null 2>&1
* * * * * /home/accacio/bin/batteryNotify >/dev/null 2>&1
